* {
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Open+Sans:wght@300;400;600;700&display=swap");
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  display: inline;
  font-size: 100px;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 40px;
}

h2 {
  font-size: 44px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 12spx;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.page .body-bg-0 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  background-image: url("../../assets/BG-MAIN-1.jpg");
}
.page .body-bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  background-image: url("../../assets/bg-1.jpg");
}
.page .body-bg-2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  background-image: url("../../assets/bg-2.jpg");
}

section {
  margin-bottom: 60px;
}

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 550px;
  border-radius: 10px;
  margin: 0 auto;
  background: conic-gradient(from 45.06deg at 0% 100%, #f5f5f5 -8.17deg, #fffefe 2.6deg, #d9d9d9 48.05deg, #d9d9d9 334.71deg, #f5f5f5 351.83deg, #fffefe 362.6deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container h2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.container h4 {
  line-height: 180%;
  text-align: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.78);
}

.menu-start {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.78);
  width: 100%;
  z-index: 1;
  position: fixed;
}

.nav .nav-list {
  display: flex;
  color: white;
  justify-content: right;
  margin-right: 128px;
  margin-top: 38px;
}
.nav .nav-list li {
  margin-left: 55px;
  color: white;
}
.nav .nav-list li a {
  color: white;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.78);
}
header .header-width {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header-width .header-logo {
  margin-left: 200px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  color: white;
}
header .header-width .header-logo img {
  width: 100px;
  height: 100px;
  margin-right: 18px;
}
header .header-width .header-logo h4 {
  letter-spacing: 12px;
  color: white;
}
header .menu-base {
  height: 100px;
  width: 585px;
}
header .menu-base .nav .nav-list li {
  margin-left: 40px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
form input {
  width: 450px;
  margin-bottom: 15px;
  height: 55px;
  border-radius: 10px;
  padding-left: 30px;
  border: none;
  border: 1px solid black;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

input[type=submit] {
  color: white;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 28px;
  border: 2px solid black;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.change-button {
  cursor: pointer;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.form-signIn {
  width: 100%;
  margin-top: 40px;
}
.form-signIn form {
  display: flex;
  justify-content: center;
}
.form-signIn form input {
  width: 450px;
}
.form-signIn form input[type=submit] {
  margin: 0 auto;
  color: white;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 38px;
  height: 60px;
  padding: 0px 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
.form-signIn form input[type=submit].ForgotPswd-Btn {
  font-size: 24px;
  background-color: #000000;
  color: #561f47;
  box-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin-bottom: 0px;
}
.form-signIn form .alt-signin {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 18px;
  justify-content: space-between;
}
.form-signIn form img {
  width: 50px;
  height: 50px;
}

.nav-list .nav-item a:hover {
  color: #fb354e;
  transition: color 0.3s;
}

.nav-list .nav-item a:active {
  color: #ffe5d9;
}

form input[type=submit]:hover {
  cursor: pointer;
  background-color: #fb354e;
  transition: background-color 0.3s;
}
form input[type=submit]:active {
  background-color: white;
  color: black;
}
form button:hover {
  cursor: pointer;
  transition: color 5s;
  color: #fb354e;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid #fb354e;
  font-size: 25px;
  transition: font-size 1s;
}

.form-signIn form input[type=submit]:hover {
  cursor: pointer;
  background-color: #fb354e;
  transition: background-color 0.3s;
}
.form-signIn form input[type=submit]:active {
  background-color: white;
  color: black;
}
.form-signIn form button:hover {
  cursor: pointer;
  transition: color 5s;
  color: #fb354e;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid #fb354e;
  font-size: 25px;
  transition: font-size 1s;
}

.popup button:hover {
  cursor: pointer;
  background-color: #ffe5d9;
  transition: background-color 0.3s;
}
.popup button:active {
  cursor: pointer;
  background-color: #fb354e;
}

.container-header {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg-main-new2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  outline: 3px solid #1a1a1a;
  outline-offset: -3px;
}

.head-hr-line {
  border: none;
  height: 2px;
  margin-top: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.78);
}

.sale-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.sale-inner .sale-info {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
  height: 100%;
}
.sale-inner .sale-info h4 {
  text-align: left;
  color: #fb354e;
  text-shadow: none;
}
.sale-inner h2 {
  color: #fb354e;
  margin-left: 377px;
  margin-bottom: 40px;
  text-shadow: none;
}

.saleimage {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sign {
  width: 650px;
  height: 550px;
}

.section-signin {
  margin: 100px auto;
}
.section-signin div h2 {
  margin-top: 80px;
}

.section-reg {
  margin: 100px auto;
}
.section-reg div h2 {
  margin-top: 50px;
}

.container-Tariff {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
}

.section-Tariff {
  margin: 100px auto;
}

.container-Tariff {
  display: flex;
  flex-direction: column;
}
.container-Tariff h2 {
  color: #fb354e;
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.container-Tariff .smail-text {
  color: #fb354e;
  margin: 0px auto;
  margin-bottom: 10px;
  height: -moz-fit-content;
  height: fit-content;
}

.Tariff-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Tariff-inner .Tariff {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.8);
  flex-direction: column;
  border-radius: 10px;
  width: 320px;
  height: 370px;
}
.Tariff-inner .Tariff h4 {
  margin-top: 10px;
  color: #fb354e;
}
.Tariff-inner .Tariff h6 {
  color: #000000;
  margin-top: -10px;
  margin-bottom: 10px;
}
.Tariff-inner .Tariff h2 {
  margin-top: 15px;
  color: #000000;
}
.Tariff-inner .Tariff h5 {
  color: #000000;
}
.Tariff-inner .Tariff .description {
  color: #000000;
  width: 93%;
  text-align: center;
  line-height: 30px;
}
.Tariff-inner .Tariff .description b {
  color: #fb354e;
}

.btn__tariff {
  cursor: pointer;
  background-color: #000000;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 55px;
  margin: 10px auto;
  padding: 10px 40px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}

.section-account {
  margin: 100px auto;
}

.container-account h2 {
  justify-content: left;
}
.container-account .account-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  margin-left: 90px;
}
.container-account .account-info .account-data {
  display: flex;
  flex-wrap: wrap;
}

.account-datetag {
  display: flex;
  flex-direction: column;
  height: 170px;
  margin-top: 10px;
  width: 350px;
}
.account-datetag p {
  margin-bottom: 20px;
}

.account-output {
  margin-top: 10px;
}
.account-output input {
  margin-bottom: 40px;
}
.account-output p {
  margin-bottom: 20px;
  margin-left: 100px;
}

.avatar {
  height: 500px;
  width: 350px;
  margin-right: 70px;
}

.account-avatar {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  align-items: end;
}
.account-avatar img {
  border-radius: 100%;
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
}

.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: -moz-fit-content;
  height: fit-content;
  align-items: end;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.file-delete {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #561f47;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-file-upload input {
  display: none;
}

.button-payment {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-end;
}

.container-note {
  width: 1500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  margin: 50px auto;
}

.note-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.note-title input {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: #fb354e;
}

.note-hr-line {
  width: 95%;
  height: 0px;
  margin: 0 auto;
  margin-top: 10px;
}

.section-admin {
  margin: 60px auto;
}

.container-admin {
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 700px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.78);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-admin h2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.container-admin h4 {
  line-height: 180%;
  text-align: center;
}

.container-admin__tariff {
  display: flex;
  flex-direction: column;
}
.container-admin__tariff h4 {
  margin: 20px auto;
  color: #fb354e;
}
.container-admin__tariff .blocks-tariff {
  display: flex;
  flex-direction: row;
}
.container-admin__tariff .block-tariff {
  margin: 0px 20px;
}
.container-admin__tariff .block-tariff input {
  width: 300px;
}
.container-admin__tariff .block-tariff input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #fb354e;
}

.popup {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.popup input {
  width: 500px;
  margin: 10px 0;
}
.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.popup__header {
  width: 530px;
  display: flex;
  justify-content: space-between;
}
.popup__create {
  margin-left: 420px;
}

.popup__create {
  background-color: #561f47;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 40px;
  border-top: none;
  border-left: none;
  color: white;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
}

.popup__close {
  background-color: #561f47;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 30px;
  border-top: none;
  border-left: none;
  color: white;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
}

.drop-area {
  background-image: url("../../assets/bg-1.jpg");
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.disk-occupiced {
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  font-size: 20px;
}
.disk-occupiced h2 {
  font-size: 20px;
}

.container-worksapce {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}
.container-worksapce .container-drive {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1920px;
  height: 800px;
  color: white;
}
.container-worksapce .container-drive .container-search {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
}
.container-worksapce .container-drive .container-search form {
  width: -moz-fit-content;
  width: fit-content;
  width: 1250px;
}
.container-worksapce .container-drive .container-search form input {
  margin-left: 80px;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
}
.container-worksapce .container-drive .btn {
  cursor: pointer;
  background-color: #000000;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 55px;
  margin: 0 auto;
  padding: 10px 40px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}

.container-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 819px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.3);
}
.container-settings .container-diagrams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
  margin-top: 10px;
  height: 100%;
}
.container-settings .container-diagrams .diagrams-info {
  display: flex;
  align-items: center;
}
.container-settings .container-diagrams .diagrams-info h4 {
  color: #fb354e;
}

.settings {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.settings .btn {
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  font-size: 18px;
  background-color: #000000;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.settings .btn-upload .drive__upload-input {
  display: none;
}
.settings .btn-upload .drive__upload-lable {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

.container-listFile {
  height: 80%;
  width: 1400px;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 70px;
}
.container-listFile h3 {
  margin-bottom: 30px;
}
.container-listFile .listScroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: white;
}
.container-listFile .listScroll::-webkit-scrollbar {
  width: 5px;
}
.container-listFile .listScroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.filelist {
  margin: 20px 0;
}
.filelist__header {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
}
.filelist__name {
  grid-column-start: 2;
}
.filelist__data {
  grid-column-start: 5;
  justify-self: center;
}
.filelist__size {
  grid-column-start: 6;
  justify-self: center;
}

.NotFiles {
  display: flex;
  margin-top: 300px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.file {
  margin: 10px 0;
  border-bottom: solid 2px white;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}
.file:hover {
  transform: scale(1.01);
}
.file__img {
  justify-self: center;
}
.file__data {
  grid-column-start: 5;
  justify-self: center;
}
.file__size {
  grid-column-start: 6;
  justify-self: center;
}
.file__btn {
  display: none;
}
.file:hover .file__date {
  grid-column-start: 3;
}
.file:hover .file__size {
  grid-column-start: 4;
}
.file:hover .file__download {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
  background-color: #fb354e;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 2px solid #fb354e;
  border-radius: 10px;
  cursor: pointer;
  grid-column-start: 5;
  display: block;
}
.file:hover .file__delete {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
  background-color: #fb354e;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 2px solid #fb354e;
  border-radius: 10px;
  cursor: pointer;
  grid-column-start: 6;
  display: block;
}

.file-enter-active {
  animation: file-enter 500ms forwards;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  margin-top: 20px;
  border-radius: 50%;
  outline: 10px solid #561f47;
  border: 5px solid white;
  background: #561f47;
  width: 200px;
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  overflow: hidden;
  --b: 0;
  --c: #fb354e;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}

@keyframes p {
  from {
    --p: 0;
  }
}/*# sourceMappingURL=main.css.map */