.container-Tariff {
  background-color: $color-bg-container;
  color: $color-text-header-btn;
}
.section-Tariff {
  padding-top: 200px;
  margin-bottom: 121px;
}

.container-Tariff {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
  }
}
.Tariff-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .Tariff {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    width: 320px;
    height: 370px;
    h4 {
      margin-top: 10px;
    }
    h6 {
      color: $color-tarrrif-one;
      margin-top: -10px;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 20px;
      color: $color-tarrrif-two;
    }
    .description {
      width: 93%;
      text-align: center;
      line-height: 30px;
      b {
        color: $color-tarrrif-two;
      }
    }
  }
}

.btn__tariff {
  background-color: $color-violet-btn;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 60px;
  border-top: none;
  border-left: none;
  margin-bottom: 20px;
  color: $color-text-header-btn;
  width: fit-content;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 30px;
  cursor: pointer;
}
