.disk-occupiced {
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  font-size: 20px;
  h2 {
    font-size: 20px;
  }
}
.container-worksapce {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  .container-drive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1920px;
    height: 800px;
    color: $color-text-header-btn;
    .container-search {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-evenly;
      form {
        width: fit-content;
        width: 1250px;
        input {
          margin-left: 80px;
          width: 100%;
          height: 55px;
          margin-bottom: 20px;
        }
      }
    }
    .btn {
      cursor: pointer;
      background-color: #000000;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.25);
      font-size: 18px;
      height: 55px;
      margin: 0 auto;
      padding: 10px 40px;
      width: fit-content;
      border-radius: 10px;
    }
  }
}

.container-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 819px;
  width: 450px;
  background-color: $color-bg-folder-container;

  .container-diagrams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 50px;
    margin-top: 10px;
    height: 100%;
    .diagrams-info {
      display: flex;
      align-items: center;
      h4 {
        color: $color-red-btn;
      }
    }
  }
}

.settings {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .btn {
    width: fit-content;
    height: 50px;
    font-size: 18px;

    background-color: #000000;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;

    cursor: pointer;
  }

  .btn-upload {
    .drive__upload-input {
      display: none;
    }
    .drive__upload-lable {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-self: center;

      font-size: 18px;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      box-shadow: rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 10px 5px;

      cursor: pointer;
    }
  }
}
