.container-listFile {
  height: 80%;
  width: 1400px;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 70px;
  h3 {
    margin-bottom: 30px;
  }
  .listScroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .listScroll::-webkit-scrollbar {
    width: 5px;
  }

  .listScroll::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
}
.filelist {
  margin: 20px 0;
  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }
  &__name {
    grid-column-start: 2;
  }
  &__data {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
}
.NotFiles {
  display: flex;
  margin-top: 300px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.file {
  margin: 10px 0;
  border-bottom: solid 2px white;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  &:hover {
    transform: scale(1.01);
  }
  &__img {
    justify-self: center;
  }
  &__data {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
  &__btn {
    display: none;
  }
  &:hover &__date {
    grid-column-start: 3;
  }

  &:hover &__size {
    grid-column-start: 4;
  }
  &:hover &__download {
    color: $color-text-header-btn;
    width: fit-content;
    padding: 0px 20px;
    background-color: $color-red-btn;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid $color-red-btn;
    border-radius: 10px;
    cursor: pointer;

    grid-column-start: 5;
    display: block;
  }
  &:hover &__delete {
    color: $color-text-header-btn;
    width: fit-content;
    padding: 0px 20px;
    background-color: $color-red-btn;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid $color-red-btn;
    border-radius: 10px;
    cursor: pointer;

    grid-column-start: 6;
    display: block;
  }
}

.file-enter-active {
  animation: file-enter 500ms forwards;
}
@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
