.container-lastFile {
  height: 80%;
  width: 1000px;
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 100px;
  h3 {
    margin-bottom: 30px;
  }
  .listScroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: white;
    &::-webkit-scrollbar {
      width: 5px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-thumb {
      background-color: white; /* Цвет ползунка */
      border-radius: 4px; /* Закругленные углы ползунка */
    }
  }
}

.filelist {
  margin: 20px 0;
  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }
  &__name {
    grid-column-start: 2;
  }
  &__data {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
}

.file {
  margin: 10px 0;
  border-bottom: solid 2px white;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  &:hover {
    transform: scale(1.01);
  }
  &__img {
    justify-self: center;
  }
  &__data {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
  &__btn {
    display: none;
  }
  &:hover &__date {
    grid-column-start: 3;
  }

  &:hover &__size {
    grid-column-start: 4;
  }
  &:hover &__download {
    color: white;
    width: fit-content;
    padding: 0px 20px;
    background-color: $color-red-btn;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid $color-red-btn;
    border-radius: 10px;
    cursor: pointer;

    grid-column-start: 5;
    display: block;
  }
  &:hover &__delete {
    color: white;
    width: fit-content;
    padding: 0px 20px;
    background-color: $color-red-btn;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid $color-red-btn;
    border-radius: 10px;
    cursor: pointer;

    grid-column-start: 6;
    display: block;
  }
}
