.container-diagrams {
  margin-top: 250px;
  height: 100%;
  margin-left: 0px;
  .diagrams-info {
    display: flex;
    margin-left: -30px;
    align-items: center;
    h2 {
      margin-left: 20px;
      color: $color-red-btn;
    }
  }
}

//PIE DIAGRAM
@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  margin-top: 70px;
  border-radius: 100%;
  outline: 10px solid #561f47;
  border: 5px solid white;
  background: #561f47;
}
.pie {
  --b: 0;
  --w: 300px;
  --c: #fb354e;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}
.animate {
  animation: p 1s 0.5s both;
}
@keyframes p {
  from {
    --p: 0;
  }
}
