body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.body-bg-0 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  background-image: url("../../images/BG/BG-MAIN-1.jpg");
}

.body-bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/BG/bg-1.jpg");
}

.body-bg-2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/BG/bg-2.jpg");
}

main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.container {
  width: 1200px;
  height: 550px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(255, 229, 217, 0.5);
}

.menu {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.78);
  width: 100%;
  z-index: 1;
  position: fixed;
}
.menu nav .nav-list {
  display: flex;
  color: white;
  margin-left: 466px;
}
.menu nav .nav-list li {
  margin-left: 85px;
  color: white;
}
.menu nav .nav-list li a {
  color: white;
}

section {
  margin-bottom: 60px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.78);
}

.head-logo {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-left: 190px;
  align-items: center;
}
.head-logo img {
  width: 100px;
  height: 100px;
  margin-right: 18px;
}
.head-logo h4 {
  letter-spacing: 7px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
form input {
  width: 450px;
  margin-bottom: 25px;
  height: 55px;
  border-radius: 10px;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

input[type=submit] {
  color: white;
  background-color: #561f47;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 28px;
  height: 60px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
}

.nav-list .nav-item a:hover {
  color: #fc9995;
  transition: color 0.3s;
}

.nav-list .nav-item a:active {
  color: #fb354e;
}

form input[type=submit]:hover {
  cursor: pointer;
  background-color: #fc9995;
  transition: background-color 0.3s;
}
form input[type=submit]:active {
  background-color: #fb354e;
}

.form-signIn form input[type=submit]:hover {
  cursor: pointer;
  background-color: #fc9995;
  transition: background-color 0.3s;
}
.form-signIn form input[type=submit]:active {
  background-color: #fb354e;
}

* {
  @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Open+Sans:wght@300;400;600;700&display=swap");
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  display: inline;
  font-size: 100px;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 40px;
}

h2 {
  font-size: 44px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 12spx;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.nav .nav-list {
  display: flex;
  color: white;
  justify-content: right;
  margin-right: 168px;
  margin-top: 38px;
}
.nav .nav-list li {
  margin-left: 85px;
  color: white;
}
.nav .nav-list li a {
  color: white;
}

.container-header {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}
.container-header .header-bg-image {
  width: 100%;
  height: 100%;
}

.head-hr-line {
  border: none;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.78);
}

.header-logo {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
  margin-left: 190px;
  letter-spacing: 12px;
}
.header-logo img {
  width: 100px;
}

.main-header-logo {
  margin-right: 200px;
}

.header-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fb354e;
  align-items: center;
}
.header-inner h1 {
  font-weight: 900;
  font-size: 170px;
  margin-left: 400px;
  text-shadow: 10px 10px 5px rgba(86, 31, 71, 0.85);
}
.header-inner .logo {
  opacity: 0.9;
  width: 1000px;
}

.container {
  display: flex;
  justify-content: center;
}
.container h2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.container h4 {
  line-height: 180%;
  text-align: center;
}

.sale-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.sale-inner .sale-info {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
  height: 100%;
}
.sale-inner .sale-info h4 {
  text-align: left;
}
.sale-inner h2 {
  margin-left: 377px;
  margin-bottom: 40px;
}

.saleimage {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signIn {
  width: 100%;
  margin-top: 40px;
}
.form-signIn form {
  display: flex;
  justify-content: center;
}
.form-signIn form input {
  width: 450px;
}
.form-signIn form input[type=submit] {
  margin: 0 auto;
  color: white;
  background-color: #561f47;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 38px;
  height: 60px;
  padding: 0px 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
.form-signIn form input[type=submit].ForgotPswd-Btn {
  font-size: 24px;
  background-color: transparent;
  color: #561f47;
  box-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin-bottom: 0px;
}
.form-signIn form p {
  margin: 0 auto;
}
.form-signIn form .alt-signin {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 18px;
  justify-content: space-between;
}
.form-signIn form img {
  width: 50px;
  height: 50px;
}

.container-sign {
  width: 650px;
  height: 500px;
}
.container-sign div h2 {
  margin-top: 70px;
}

.section-signin {
  padding-top: 220px;
  margin-bottom: 151px;
}

.section-account {
  padding-top: 200px;
  margin-bottom: 121px;
}

.container-account h2 {
  justify-content: left;
}
.container-account .account-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 90px;
}
.container-account .account-info .account-data {
  display: flex;
  flex-wrap: wrap;
}

.account-datetag {
  display: flex;
  flex-direction: column;
  height: 170px;
  margin-top: 13px;
  width: 300px;
}
.account-datetag p {
  margin-bottom: 40px;
}

.account-output {
  margin-top: 13px;
}
.account-output input {
  margin-left: -100px;
  margin-bottom: 40px;
}
.account-output p {
  margin-bottom: 40px;
  margin-left: -100px;
}

.account-info form input:nth-child(2),
.account-info form input:nth-child(3) {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 24px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  padding: 0;
  color: #561f47;
}
.account-info form input:nth-child(1) {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  padding: 10px 10px;
  margin-bottom: 32px;
}
.account-info form input:nth-child(2) {
  color: rgba(0, 0, 0, 0.78);
}

.account-avatar {
  display: flex;
  align-items: center;
  margin-right: 77px;
}
.account-avatar img {
  height: 400px;
  width: 400px;
}

.container-Tariff {
  display: flex;
  flex-direction: column;
}
.container-Tariff h2 {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.Tariff-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Tariff-inner .Tariff {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  width: 320px;
  height: 370px;
}
.Tariff-inner .Tariff h4 {
  margin-top: 10px;
}
.Tariff-inner .Tariff h6 {
  color: #fc9995;
  margin-top: -10px;
  margin-bottom: 10px;
}
.Tariff-inner .Tariff h2 {
  margin-top: 20px;
  color: #fb354e;
}
.Tariff-inner .Tariff .description {
  width: 93%;
  text-align: center;
  line-height: 30px;
}
.Tariff-inner .Tariff .description b {
  color: #fb354e;
}
.Tariff-inner .Tariff input {
  margin-top: 10px;
  height: 50px;
  font-size: 25px;
  padding: 0 50px;
}

.container-Tariff {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
}

.section-Tariff {
  padding-top: 200px;
  margin-bottom: 121px;
}

.container-note {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  margin-top: 140px;
  margin-bottom: -30px;
}

.container-note {
  flex-direction: column;
  justify-content: start;
}
.container-note h3 {
  margin-top: 10px;
  margin-left: 60px;
}

.note-title {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.note-title input {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: #fb354e;
}

.note-hr-line {
  width: 1500px;
  height: 0px;
  margin: 0 auto;
  margin-top: 10px;
}

.container-drive {
  color: white;
  display: flex;
  width: 1920px;
  height: 100vh;
  overflow-y: hidden;
}

.container-drive .container-folderSearch {
  max-height: 100vh;
  margin-top: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container-folderSearch form {
  margin: 0 auto;
  width: 360px;
}
.container-folderSearch form input {
  width: 350px;
  margin-top: 20px;
  height: 60px;
  margin-bottom: 22px;
}

.container-lastFile {
  height: 100%;
  margin-top: 150px;
  margin-left: 78px;
  margin-right: 350px;
}
.container-lastFile h3 {
  margin-bottom: 30px;
}

.container-diagrams {
  margin-top: 150px;
  height: 100%;
}
.container-diagrams .diagrams-info {
  display: flex;
  margin-left: 50px;
  align-items: center;
}
.container-diagrams .diagrams-info h2 {
  margin-left: 20px;
  color: #fb354e;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  margin-top: 70px;
}

.pie {
  --b: 0;
  --w: 450px;
  --c: #fb354e;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}

@keyframes p {
  from {
    --p: 0;
  }
}/*# sourceMappingURL=main.css.map */