@import "./variable";

.nav-list {
  .nav-item a:hover {
    color: $color-hover;
    transition: color 0.3s;
  }
}
.nav-list {
  .nav-item a:active {
    color: $color-active;
  }
}
form {
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: $color-hover;
    transition: background-color 0.3s;
  }
  input[type="submit"]:active {
    background-color: white;
    color: black;
  }
  button:hover {
    cursor: pointer;
    transition: color 5s;
    color: $color-hover;
    transition: border-bottom 0.3s;
    border-bottom: 2px solid $color-hover;
    font-size: 25px;
    transition: font-size 1s;
  }
}

.form-signIn {
  form {
    input[type="submit"]:hover {
      cursor: pointer;
      background-color: $color-hover;
      transition: background-color 0.3s;
    }
    input[type="submit"]:active {
      background-color: white;
      color: black;
    }
    button:hover {
      cursor: pointer;
      transition: color 5s;
      color: $color-hover;
      transition: border-bottom 0.3s;
      border-bottom: 2px solid $color-hover;
      font-size: 25px;
      transition: font-size 1s;
    }
  }
}

.popup {
  button:hover {
    cursor: pointer;
    background-color: $color-active;
    transition: background-color 0.3s;
  }
  button:active {
    cursor: pointer;
    background-color: $color-red-btn;
  }
}
