.nav-list {
  .nav-item a:hover {
    color: $color-active;
    transition: color 0.3s;
  }
}
.nav-list {
  .nav-item a:active {
    color: $color-red-btn;
  }
}
form {
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: $color-active;
    transition: background-color 0.3s;
  }
  input[type="submit"]:active {
    background-color: $color-red-btn;
  }
}

.form-signIn {
  form {
    input[type="submit"]:hover {
      cursor: pointer;
      background-color: $color-active;
      transition: background-color 0.3s;
    }
    input[type="submit"]:active {
      background-color: $color-red-btn;
    }
  }
}

.drive_btns,
.popup {
  button:hover {
    cursor: pointer;
    background-color: $color-active;
    transition: background-color 0.3s;
  }
  button:active {
    cursor: pointer;
    background-color: $color-red-btn;
  }
}
