@import "variable";

.page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  .body-bg-0 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-image: url("../../assets/BG-MAIN-1.jpg");
  }
  .body-bg-1 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-image: url("../../assets/bg-1.jpg");
  }
  .body-bg-2 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-image: url("../../assets/bg-2.jpg");
  }
}

section {
  margin-bottom: 60px;
}
.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 550px;
  border-radius: 10px;
  margin: 0 auto;

  background: conic-gradient(
    from 45.06deg at 0% 100%,
    #f5f5f5 -8.17deg,
    #fffefe 2.6deg,
    #d9d9d9 48.05deg,
    #d9d9d9 334.71deg,
    #f5f5f5 351.83deg,
    #fffefe 362.6deg
  );

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  h4 {
    line-height: 180%;
    text-align: center;
  }
}
// header & footer
footer {
  width: 100%;
  height: 60px;
  background-color: $color-footer-header;
}

.menu-start {
  height: 100px;
  background-color: $color-footer-header;
  width: 100%;
  z-index: 1;
  position: fixed;
}
.nav {
  .nav-list {
    display: flex;
    color: $color-text-header-btn;
    justify-content: right;
    margin-right: 168px;
    margin-top: 38px;
  }

  .nav-list li {
    margin-left: 85px;
    color: $color-text-header-btn;
  }

  .nav-list li a {
    color: $color-text-header-btn;
  }
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $color-footer-header;
  .header-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-logo {
      margin-left: 200px;
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: center;
      color: $color-text-header-btn;
      img {
        width: 100px;
        height: 100px;
        margin-right: 18px;
      }
      h4 {
        letter-spacing: 12px;
        color: $color-text-header-btn;
      }
    }
  }

  .menu-base {
    height: 100px;
    width: fit-content;
    .nav {
      .nav-list li {
        margin-left: 85px;
        color: $color-text-header-btn;
      }
    }
  }
}
