$color-footer-header: rgba(0, 0, 0, 0.78);
$color-container-block: rgba(255, 229, 217, 0.5);
$color-text-shadow: rgba(0, 0, 0, 0.25);
$color-bg-container: rgba(0, 0, 0, 0.78);
$color-bg-folder-container: rgba(0, 0, 0, 0.3);
$color-text-header-btn: white;
$color-violet-btn: #561f47;
$color-red-btn: #fb354e;
$color-red-main-text: #fb354e;
$color-one: #ffe5d9;
$color-active: #fc9995;

$color-text-dark: #000000;

$color-tarrrif-one: #fc9995;
$color-tarrrif-two: #fb354e;
