$color-footer-header: rgba(0, 0, 0, 0.78);
$color-container-block: rgba(255, 229, 217, 0.5);
$color-text-shadow: rgba(0, 0, 0, 0.25);
$color-bg-container: rgba(0, 0, 0, 0.78);
$color-bg-folder-container: rgba(0, 0, 0, 0.3);
$color-text-header-btn: white;
$color-violet-btn: #561f47;
$color-red-btn: #fb354e;
$color-red-main-text: #fb354e;

$color-red-h2-h4: #fb354e;
$color-one: #ffe5d9;

$color-hover: #ffe5d9;
$color-active: #fb354e;
$color-hover2: #fb354e;
$color-active2: #ffe5d9;

$color-text-white: white;

$color-hr: #1a1a1a;

$color-tarrrif-one: #fc9995;
$color-tarrrif-two: #fb354e;

$color-task-active: rgba(#fb354e, 0.2);
$color-task-ended: rgba(#778899, 0.2);
