.container-note {
  width: 1500px;
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: $color-bg-container;
  color: $color-text-header-btn;

  margin: 50px auto;
}

.note-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  input {
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: $color-red-btn;
  }
}
.note-hr-line {
  width: 95%;
  height: 0px;
  margin: 0 auto;
  margin-top: 10px;
}
