.container-header {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg-main-new2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  outline: 3px solid $color-hr;
  outline-offset: -3px;
}
.head-hr-line {
  border: none;
  height: 2px;
  margin-top: 10px;
  width: 100%;
  background-color: $color-footer-header;
}

.sale-inner {
  display: flex;
  flex-direction: column;
  h4 {
    color: $color-red-h2-h4;
    text-shadow: none;
    text-align: left;
    margin-left: 20px;
  }
  h2 {
    margin-left: 350px;
    color: $color-red-h2-h4;
    margin-bottom: 40px;
    text-shadow: none;
  }
}
.saleimage {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-left: 10px;
    width: 380px;
  }
}

.container-sign {
  width: 650px;
  height: 550px;
}
.section-signin {
  div h2 {
    margin-top: 80px;
  }
  margin: 100px auto;
}
.section-reg {
  div h2 {
    margin-top: 50px;
  }
  margin: 100px auto;
}
