.container-note {
  width: 1500px;
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $color-bg-container;
  color: $color-text-header-btn;

  margin: 50px auto;
  h3 {
    margin-left: 50px;
  }
  .note-title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-red-btn;
    padding-bottom: 10px;
    padding-top: 10px;
    input[type="submit"] {
      width: fit-content;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 24px;
      border: 2px solid $color-red-btn;
      margin: 0;
      cursor: pointer;
    }
  }
}

.container-create-note {
  margin: 50px auto;
  width: 750px;
  height: 700px;
  .create-note__box {
    form {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  h3 {
    margin-left: 150px;
    color: $color-red-h2-h4;
  }
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.note-inner {
  margin-top: 15px;
  width: 89%;
  height: 570px;
  padding: 10px;
  .note-list {
    width: 1300px;
    overflow-x: hidden;
    height: 100%;
    text-overflow: ellipsis;
    overflow-y: scroll;
    .note-list-item {
      display: flex;
      justify-content: space-between;
      width: 1250px;
      height: 50px;
      align-items: center;
      color: $color-text-white;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 7px;

      font-size: 22px;
      font-weight: 600;
      white-space: nowrap;
      .title {
        width: 760px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .active {
      background-color: $color-task-active;
    }
    .ended {
      background-color: $color-task-ended;
    }
  }
}
.note-list::-webkit-scrollbar {
  width: 10px;
}
.note-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.create-note__box-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Close-btn {
  height: fit-content;
  width: fit-content;
  input[type="submit"] {
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 24px;
    margin: 0;
  }
}

.note-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .title {
    margin: 0;
  }
  .text {
    width: 700px;
    height: 450px;
    overflow-y: auto;
    padding: 10px;
    color: $color-text-white;
    font-size: 18px;
    line-height: 2;
  }
  .text::-webkit-scrollbar {
    width: 10px;
  }

  .text::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
  }
}
