.container-Tariff {
  background-color: $color-bg-container;
  color: $color-text-header-btn;
}
.section-Tariff {
  margin: 100px auto;
}

.container-Tariff {
  display: flex;
  flex-direction: column;
  h2 {
    color: $color-red-h2-h4;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
  }
}
.Tariff-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .Tariff {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid $color-red-main-text;
    flex-direction: column;
    border-radius: 10px;
    width: 320px;
    height: 370px;
    h4 {
      margin-top: 10px;
      color: $color-red-h2-h4;
    }
    h6 {
      color: $color-text-white;
      margin-top: -10px;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 15px;
      color: $color-text-white;
    }
    h5 {
      color: $color-text-white;
    }
    .description {
      color: $color-text-white;
      width: 93%;
      text-align: center;
      line-height: 30px;
      b {
        color: $color-tarrrif-two;
      }
    }
  }
}

.btn__tariff {
  cursor: pointer;
  background-color: #000000;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 55px;
  margin: 10px auto;
  padding: 10px 40px;
  width: fit-content;
  border-radius: 10px;
}
