.section-account {
  margin: 100px auto;
}

.container-account {
  h2 {
    justify-content: left;
  }
  .account-info {
    color: $color-text-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
    margin-left: 90px;
    .account-data {
      display: flex;
    }
  }
}
.account-datetag {
  display: flex;
  flex-direction: column;
  height: 170px;
  margin-top: 10px;
  width: 350px;

  p {
    margin-bottom: 20px;
  }
}
.account-output {
  margin-top: 10px;
  input {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 20px;
    margin-left: 100px;
  }
}
.avatar {
  height: 500px;
  width: 350px;
  margin-right: 70px;
}
.account-avatar {
  display: flex;
  flex-direction: column;

  height: fit-content;
  align-items: end;
  img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.file-delete {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $color-red-main-text;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-file-upload input {
  display: none;
}
