//base structure
@import "./base/base";
@import "./base/page";
@import "./base/forms";

@import "./base/variable";
@import "./base/hover-active";

//pages
@import "page-main-reg";
@import "page-Tariff.scss";
@import "page-account.scss";
@import "page-note.scss";
@import "page-admin.scss";

//DrivePage
@import "DrivePage/block-popup";
@import "DrivePage/block-settings.scss";
@import "DrivePage/block-listFile.scss";
@import "DrivePage/pie-diagrams.scss";
